<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">


<head>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

 <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
 
<meta charset="utf-8">
<title>Liste des Produits</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container">
<div class="card">
 <div class="card-header">
 Liste des Produits
 </div>
 <div class="card-body">
 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Nom Produit</th><th>Prix</th><th style="text-align:center">Action</th>
 </tr>
 <tr th:each="p:${produits.content}">
 <td th:text="${p.idProduit}"></td>
 <td th:text="${p.nomProduit}"></td>
 <td th:text="${p.prixProduit}"></td>
 <td class="float-center">
     <div class="row">
     	<div class="col-6 ">
     		<a class="btn btn-danger float-end" onclick="return confirm('Etesvous sûr ?')"
 th:href="@{supprimerProduit(id=${p.idProduit},page=${currentPage},size=${size})}"><i class="bi bi-trash-fill "></i></a>
     	</div>
     	<div class="col-6">
     		<a class="btn btn-warning"
 th:href="@{modifierProduit(id=${p.idProduit},
page=${currentPage},size=${size})}"><i class="bi bi-pencil-square"></i></a></a>
     	</div>
 	   </div>
</td>
 </tr> 

  </table>
 <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn'
}"
 th:href="@{ ListeProduits(page=${status.index}, size=${size} )
}"
 th:text="${status.index }"></a>
 </li>
 </ul>

 </div>
</div>
</div>
</div>
</body>
</html>